
minimagram.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/xcschememanagement.plist

minimagram.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/minimagram.xcscheme

minimagram.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
